{% extends 'base.html.twig' %}
{% block title %}
Concepteur Site Web, E-commerce, Mobile
{% endblock %}

{% block meta_description %}

<meta name="description" content="CodingX propose des services numériques web, spécialisé en création de site internet, site vitrine, e-commerce" />
{% endblock %}


{% block content %}

        
        	<div class="top-content-container">
  <ul class="bubbles"><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><ul>        	    
	        	<div class="container">
                  <div class="row">
                    <div class="col-sm-12 text wow fadeInLeft">
                      <h1>Transformez vos idées en réalité</h1>
                      <div class="description">
                        <p class="medium-paragraph">CodingX propose des solutions adaptées à vos besoins pour vous simplifier le web et vous permettre d’y développer votre activité de manière efficace, pérenne et sereine.</p>
                      </div>
                    </div>
                  </div>	        	    
			    	<div class="row row1">
                        <a href="#" class="services-icon-a">
                           <div class="col-md-3 col-xs-6">
                            <div class="c-badge c-badge1">
                              <div class="div-img">
                               <img alt="Développement Web codingx" src="public/assets/img/icons/webic_Web-Development.svg" class="c-badge-img">
                             </div>
                             <div class="div-text">
                               <span>Création siteweb</span>
                             </div>
                             <div class="div-icon">
                              <img alt="validate" src="public/assets/img/icons/down_e-commerce copy.svg">
                            </div>
                          </div>
                        </div>
                        </a>			    	    
                        <a href="#" class="services-icon-a">
                           <div class="col-md-3 col-xs-6">
                                <div class="c-badge c-badge1">
                                      <div class="div-img"><img alt="Développement spécifique codingx" src="public/assets/img/icons/webic_ui-ux.svg" class="c-badge-img"></div>
                                     <div class="div-text"><span>Développement spécifique</span></div>
                                     <div class="div-icon"><img alt="validate" src="public/assets/img/icons/down_e-commerce copy.svg"></div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="services-icon-a">
                           <div class="col-md-3 col-xs-6">
                            <div class="c-badge c-badge1">
                              <div class="div-img">
                               <img alt="Développement mobile codingx" src="public/assets/img/icons/webic_App-Development.svg" class="c-badge-img">
                             </div>
                             <div class="div-text">
                               <span>Développement Mobile</span>
                             </div>
                             <div class="div-icon">
                              <img alt="validate" src="public/assets/img/icons/down_e-commerce copy.svg">
                            </div>
                          </div>
                        </div>
                        </a>

                        <a href="#" class="services-icon-a">
                           <div class="col-md-3 col-xs-6">
                            <div class="c-badge c-badge1">
                              <div class="div-img">
                               <img alt="Développement ecommerce codingx" src="public/assets/img/icons/webic_e-commerce.svg" class="c-badge-img">
                             </div>
                             <div class="div-text">
                               <span>Développement Ecommerce</span>
                             </div>
                             <div class="div-icon">
                              <img alt="validate" src="public/assets/img/icons/down_e-commerce copy.svg">
                            </div>
                          </div>
                        </div>
                        </a>                        
					</div>	        	    
	        	</div> 
	        </div>
            <div class="triangle-right"></div>
            <div class="triangle-left"></div>
        </div>



<div class="container-fluid">

    <div class="row">
        <div class="title-technologies">
            <h2>Pourquoi choisir CodingX? </h2>
        </div>
    </div>
    <div cass="row">
        <div class="col-md-4">
            <div class="inner-choose-us">
                <div class="head-card"><img alt="À L'écoute Des Clients" src="public/assets/img/choose-us/ear.png" /></div>
                <div class="body-card">
                    <div class="title-body-card"><h3> À l'écoute</h3></div>
                    
                    <p>Écouter les clients, la partie la plus importante de notre travail, une bonne écoute nous aide à anticiper les erreurs...</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="inner-choose-us">
                <div class="head-card"><img alt="Qualité" src="public/assets/img/choose-us/quality.png" /></div>
                <div class="body-card">
                    <div class="title-body-card"><h3>Qualité</h3></div>
                    
                    <p>Nous choisissons peu de projets à concevoir, nous privilégions la qualité de la quantité ...</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="inner-choose-us">
                <div class="head-card"><img alt="Creativité" src="public/assets/img/choose-us/creativity.png" /></div>
                <div class="body-card">
                    <div class="title-body-card"><h3> Créativité</h3></div>
                    
                    <p>Votre site web est la première image publique de votre entreprise, nous apportons un soin particulier à sa conception ...</p>                    
                </div>
            </div>
        </div>        
    </div>
    
</div>  







<div class="container">

    <div class="row">
        <div class="title-technologies">
            <h2>Technologies que nous connaissons</h2>
        </div>
    </div>
    <div class="row tech">
        <div class="col-md-3"><a href="#"><img alt="javascript codingx"  src="public/assets/img/logos/CodingX-JavaScript.png" /></a></div>
        <div class="col-md-3"><a href="#"><img alt="angularjs codingx"  src="public/assets/img/logos/codinfx-tech_angular.svg" /></a></div>
        <div class="col-md-3"><a href="#"><img alt="Photoshop"  src="public/assets/img/logos/Codingx-Adobe-CC.png" /></a></div>
        <div class="col-md-3"><a href="#"><img alt="développrment mobile android codingx" src="public/assets/img/logos/codingx-Mobile-Android.png" /></a></div>
    </div>
    <div class="row tech">
        <div class="col-md-3"><a href="#"><img alt="mysql codingx"  src="public/assets/img/logos/Codingx-Web-MySQL.png" /></a></div>
        <div class="col-md-3"><a href="#"><img alt="developpement web php codingx"  src="public/assets/img/logos/CodingX-Web-PHP.png" /></a></div>
        <div class="col-md-3"><a href="#"><img alt="postegresql"  src="public/assets/img/logos/codingx-Web-PostgresQL.png" /></a></div>
        <div class="col-md-3"><a href="#"><img alt="python codingx"  src="public/assets/img/logos/Codingx-Web-Python.png" /></a></div>
    </div>  
    <div class="row tech">
        <div class="col-md-3"><a href="#"><img alt="java codingx j2ee"  src="public/assets/img/logos/codingx-QA-Java-1.png" /></a></div>
        <div class="col-md-3"><a href="#"><img alt="css css3"  src="public/assets/img/logos/Codingx-Web-CSS3.png" /></a></div>        
        <div class="col-md-3"><a href="#"><img alt="wordpress codingx"  src="public/assets/img/logos/Codingx-Wordpress.png" /></a></div>
        <div class="col-md-3"><a href="#"><img  alt="html html5" src="public/assets/img/logos/codingxWeb-HTML5.png" /></a></div>        
    </div>
</div>
{% endblock %}