{% extends 'base.html.twig' %}

{% block title %}
Concepteur Site Web, E-commerce, Mobile
{% endblock %}

{% block meta_description %}
<meta name="description" content="CodingX propose des services numériques web, spécialisé en création de site internet, site vitrine, e-commerce" />
{% endblock %}


{% block css_style %}
<link rel="stylesheet" href="public/assets/css/website_style.css">
{% endblock %}

{% block content %}

        <div class="top-content-container">
    	        <div class="container">
                      <div class="row">
                        <div class="col-sm-12 text wow fadeInLeft">
                          <h1>Créer, optimiser ou refondre votre site Internet pour un meilleur retour sur investissement</h1>
                          <div class="description">
                            <p class="medium-paragraph">
CodingX met ses compétences techniques et webmarketing à votre disposition pour créer un site web en accord avec vos besoins et les objectifs de votre entreprise. Nos sites internet sont basés sur les dernières technologies, optimisés pour le référencement et intègrent les notions essentielles d’ergonomie et de design (UX/UI) indispensables pour que votre site propose une expérience utilisateur optimale.                              
                               </p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">
                              <div class="stats">
                                  <span class="number-title" >100 +</span>
                                  <span class="text-title"   >Sites Web de qualité</span>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="stats">
                                  <span class="number-title" >230 000 +</span>
                                  <span class="text-title"   >Visites par mois</span>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="stats">
                                  <span class="number-title" >1 million</span>
                                  <span class="text-title"   >Pages consultées par mois</span>
                              </div>
                          </div>                          
                      </div>
    	        </div>
        </div>
        <!-- end top content -->
        </div>

        <!--<div id="breadcrumb"> 
            <ol  itemscope="" itemtype="http://schema.org/BreadcrumbList" >
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" ><a href="/"> Accueil </a></li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">Création de site Internet</li>
            </ol>
        </div>-->
        
        <div id="website" class="container-fluid">
            <div class="row">
              <div class="page-title">                
                <h2>QUELS TYPES DE SITES INTERNET CRÉONS-NOUS ?</h2>
              </div>
            </div>
            <div cass="row">
                <div class="col-md-4">
                    <div class="inner-choose-us">
                        <div class="head-card"><img alt="SITE INSTITUTIONNEL" src="public/assets/img/create/mobile.png"></div>
                        <div class="body-card">
                            <div class="title-body-card"><h3>SITE INSTITUTIONNEL</h3></div>
                            
                            <p>Présente l'activité de votre entreprise et met en avant vos activités, produits, services, actualités, coordonnées, etc. Il est la pierre angulaire de votre stratégie web.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inner-choose-us">
                        <div class="head-card"><img alt="SITE E-COMMERCE" src="public/assets/img/create/creation.png"></div>
                        <div class="body-card">
                            <div class="title-body-card"><h3>SITE E-COMMERCE</h3></div>
                            
                            <p>Pour vendre vos produits ou vos prestations sur Internet, ces sites intègrent un système de gestion de commande et un système de paiement en ligne.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inner-choose-us">
                        <div class="head-card"><img alt="BLOG D'ENTREPRISE" src="public/assets/img/create/blog.png"></div>
                        <div class="body-card">
                            <div class="title-body-card"><h3>BLOG D'ENTREPRISE</h3></div>
                            
                            <p>Moyen de communiquer complémentaire au site de l'entreprise, le blog peut être dédié à des sujets spécifiques susceptibles d'intéresser des prospects et clients.</p>                    
                        </div>
                    </div>
                </div>        
            </div>   

            <div class="row section-2">
              <div class="titles">
                <h2>Méthodologie</h2>
                <h3>Méthodologie de travail participative.</h3>
              </div>   
              <div class="icons-row">
                <div class="col-md-offset-2 col-md-2"><i class="fas fa-stopwatch"></i></i><span class="text-icon">Respect des délais</span></div>
                <div class="col-md-2"><i class="fas fa-redo"></i><span class="text-icon">Phases de validation et de retouches</span></div>
                <div class="col-md-2"><i class="fas fa-code"></i><span class="text-icon">Tests dans des environnements de pré-production</span></div>
                <div class="col-md-2"><i class="fas fa-check-double"></i><span class="text-icon">Phases de déboggage</span></div>                
              </div>         
            </div>





            <div class="row section-3">
              <div class="col-md-6">
                <div class="titles">
                  <h2>Plus qu'une promesse</h2>
                  <h3>Le succès de vos projets est garanti par notre agence Web.</h3>
                  <p>Un site Web joue un rôle très important dans la communication et la promotion d’une entreprise, organisation, établissement... L’objectif d'un site internet c'est : informer, fidéliser, sensibiliser, acquérir une nouvelle clientèle. Pour des raisons très variées, mais identifiées, plus de 85% de sites internet n'atteignent pas leurs objectifs et finiront comme la grande majorité des sites web à polluer la toile.</p>
                </div>                  
              </div>
              <div class="col-md-6 responsive"></div>
            </div> 
      </div>
{% endblock %}