{% extends 'base.html.twig' %}

{% block title %}
Développement spécifique
{% endblock %}

{% block meta_description %}
<meta name="description" content="Une application sur-mesure doit répondre parfaitement au besoin d'un projet, Il n’est rien au monde d’aussi puissant qu’une idée dont l’heure est venue. Le développement spécifique est un processus complexe avec des étapes à risque qu'il faut prévenir dans le cahier des charges" />
{% endblock %}

{% block css_style %}
<link rel="stylesheet" href="public/assets/css/custom_style.css">
{% endblock %}
{% block content %}

        <div class="top-content-container">
              <div class="container">
                      <div class="row">
                        <div class="col-sm-12 text wow fadeInLeft">
                          <h1>Une application sur-mesure doit répondre parfaitement au besoin d'un projet</h1>
                          <div class="description">
                            <p class="medium-paragraph">
                              Il n’est rien au monde d’aussi puissant qu’une idée dont l’heure est venue.
Le développement spécifique est un processus complexe avec des étapes à risque qu'il faut prévenir dans le cahier des charges                              
                               </p>
                          </div>
                        </div>
                      </div>
              </div>
        </div>
        <!-- end top content -->
        </div>

        <!--<div id="breadcrumb"> 
            <ol  itemscope="" itemtype="http://schema.org/BreadcrumbList" >
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" ><a href="/"> Accueil </a></li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">Création de site Internet</li>
            </ol>
        </div>-->
        
        <div id="customsoftware" class="container-fluid">
            <div class="row section-3">
              <div class="col-md-6">
                <div class="titles">
                  <h2>Développement Specifique</h2>
                  <h3>CodingX développe des applications sur mesure.</h3>
                  <p>Qu'il s'agisse d'un site web applicatif pour la gestion de votre métier, d’une application web autonome sur votre réseau d'entreprise (Intranet), d’une application web distribuable avec une interface API ou des solutions e-commerce sur mesure.... CodingX propose là pour répondre à vous besoin.</p>
                </div>                  
              </div>
              <div class="col-md-6 custom"></div>
            </div> 

           
        </div>

{% endblock %}