{% extends 'base.html.twig' %}

{% block title %}
Formation
{% endblock %}

{% block meta_description %}
<meta name="description" content="Une application sur-mesure doit répondre parfaitement au besoin d'un projet, Il n’est rien au monde d’aussi puissant qu’une idée dont l’heure est venue. Le développement spécifique est un processus complexe avec des étapes à risque qu'il faut prévenir dans le cahier des charges" />
{% endblock %}

{% block css_style %}
<link rel="stylesheet" href="public/assets/css/custom_style.css">
{% endblock %}
{% block content %}

        <div class="top-content-container">
              <div class="container">
                      <div class="row">
                        <div class="col-sm-12 text wow fadeInLeft">
                          <h1>Développez vos compétences et choisissez (presque) avec qui.</h1>
                          <div class="description">
                            <p class="medium-paragraph">
                              Formation à distance prise en charge par votre compte formation pour se former et progresser professionnellement et personnellement avec un formateur expérimenté en face à face.                             
                               </p>
                          </div>
                        </div>
                      </div>
              </div>
        </div>
        <!-- end top content -->
        </div>

        <!--<div id="breadcrumb"> 
            <ol  itemscope="" itemtype="http://schema.org/BreadcrumbList" >
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" ><a href="/"> Accueil </a></li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">Création de site Internet</li>
            </ol>
        </div>-->
        
        <div id="customsoftware" class="container-fluid">
            <div class="row section-3">
              <div class="col-md-6">
                <div class="titles">
                  <h2>Comment se déroule un cours en visio-formation ?</h2>
                  
                  <p>Derrière un écran et aussi à côté de vous. Nos formations sont 100% interactives.

Nos formateurs sont avec vous en face à face à chaque session et pendant toute la durée de celle-ci tout au long de la formation.

Entre les sessions et vous bénéficiez en plus d’une plate-forme de e-learning pour s’entrainer en auto formation.</p>
                </div>                  
              </div>
              <div class="col-md-6 custom"></div>
            </div> 

           
        </div>

{% endblock %}