{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<h1>Inscription</h1>
<form action="/inscription" method="post">
    <br><label>Email:</label>    
    <input type="email" name="email">
    <br><label>Prénom</label>
    <input type="text" name="firstname">
    <br><label>Nom:</label>
    <input type="text" name="lastname">
    <br><label>Mot de passe:</label>
    <input type="password" name="password">
    <br><br>
    <input type="submit" name="submit" value="Inscription">
</form>
{% endblock %}
